<div class="container" data-controller="map">
  <div class="row">
    <div class="col-12">
      <h1>Check out our Wellness Shops in Bangkok</h1>
      <%= render partial: 'category_tabs', locals: { icons: @icons, categories: @categories_text } %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render partial: 'map_display', locals: { markers: @markers } %>
    </div>
  </div>
</div>
